.app-header {
  align-items: flex-end;
  justify-content: space-between;

}

.user-name {
  /* width: 150px;
  height: 150px; */
  font-size: 26px;
}

.header-info {
  font-size: 1.2rem;
  color: grey;
}